.container {
  margin: 5.5em auto 5.5em auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: auto;
  max-width: 900px;
  padding: 30px;
  margin: 30px auto 30px auto;
  background-color: white;
}

.date {
  display: flex;
  opacity: .5;
}
